<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Bruin App Builders</title>
    <script src="/public/js/react-0.13.3/build/react.js"></script>
    <script src="/public/js/react-0.13.3/build/JSXTransformer.js"></script>
    <script src="/public/js/jquery/jquery.js"></script>


    <link href="/public/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />





  </head>
  <body>

    <div id="babNavBar"></div>
    <script type="text/jsx" src="client/build/BABNavBar.js"></script>


  	{{{body}}}


    <script src="/public/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

  </body>

</html>