<div id="about">

    <h1>About BAB</h1>


    <p>Bruin App Builders is a community at UCLA that aims to help individuals accomplish their creative goals. Although we are mainly focused in technology, all forms of creative expression are encouraged.</p>

    <br />
    <p>If you haven't already, please read through the <a target="_blank" href="/public/WelcomeToBAB.pdf">welcome booklet</a> to get a better idea what we're all about.</p>


    <h3>Philosophy</h3>
    <p>How does one go about living the best life possible? It's an important question. One we seldom ask but obviously has a few correct answers and a many wrong answers.
    <br />
    <br />
    We believe the answer to this question has to do with expression. We understand that at the end of our lives, we won't remember the money we made, the nights we slept only 4 hours, the exams we studied for, the boredom of certain days. Instead we'll remember the friendships we had, the seemingly small things that were big for us, the pursuit of a passion, and what we did and created in this world that would not have existed if not for ourselves.
    <br />
    <br />
    This does not mean that are lives must be easy. We will endure tragedy, pain, sorrow, frustration, anxiety, but life will be meaningful. They will be endured for something bigger than ourselves.
    <br />
    <br />
    We create apps, websites, organizations, dance routines, articles, songs, videos, soccer moves, and more to express ourselves. To share a part of ourselves. But first we need a skill that can be used to express ourselves. We need to learn first before we can express.
    <br />
    <br />
    So be proactive. Share generously. And express yourself. Start learning and creating, and in doing so, inspire others to learn and create.



</div>