<div id="home">

        <header>
            <h1>Bruin App Builders</h1>
        </header>

        <div class="jumbotron">
            <h1 id="express">Express yourself.</h1>
            
        </div>
        <section>
            <div class="container">
                <h3>
                Bruin App Builders is a group of talented individuals who seek to transform, and 
                positively impact their communities through the creation of products and services. 
                </h3>
            </div>

            <div class="supporting">
               
                 <h3>
                    <a target="_blank" href="http://www.facebook.com/groups/bruinappbuilders" >Join the community. </a>
                 </h3>
               
            </div>
        </section>
        
        <div class="clearfix"></div>

        <footer>
            <p>&copy 2015 Bruin App Builders. In constant revision by Will Gu and Fernando Pacheco.</p>
        </footer>

</div>