<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        
        <title>Bruin App Builders</title>
        
        <link href="style.css" rel="stylesheet" type="text/css">
        
        <script src="https://fb.me/react-0.13.3.min.js"></script>
        <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    </head>
    <body>
        <!--Be at the forefront of change -->
        <header>
            <h1>Bruin App Builders</h1>
            <h5>a community of lifelong learners</h5>
        </header>
        <div class="jumbotron">
            <p>
                Mobile applications and websites are changing the world. Join us as we strive to be 
                at the forefront of this change. Students at BAB are learning the practical skills 
                needed to be creators of social and economic change. These skills include, but are 
                not limited to:
            </p>
            <ul>
                <li>Programming</li>
                <li>Graphic Design</li>
                <li>Leadership</li>
                <li>Startup Building</li>
            </ul>
            
            <div id="sign-up-form"></div>
            <script type="text/jsx" src="client/build/main.js"></script>
        </div>
        <section>
            <div class="container">
                <h3>
                Bruin App Builders is a group of talented individuals who seek to transform, and 
                positively impact their communities through the use of technology. 
                </h3>
            </div>

            <div class="supporting">
                <div class="container">
                    <div class="col">
                        <img src="images/develop-img.png">
                        <p>
                            Here at Bruin App Builders, we know the world can be made a better
                            place through the creation of tangible products and services.
                            By teaching students the skills necessary to begin making something,
                            we hope the communities around us can benefit from the technologies
                            we make, and the people we have.
                        </p>
                    </div>
                    <div class="col">
                        <img src="images/develop-img.png">
                        <p>
                            BAB is meant to be a resource for you. We are NOT a club based around
                            working on group projects. However, we encourage you to start projects
                            and work together with the people you meet at BAB to help accomplish
                            your goals.
                        </p>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                
                <div class="container">
                    <div class="col">
                        <img src="images/develop-img.png">
                        <p>
                            Our weekly meetings are a chance for you to meet people and participate
                            in fun events that will ultimately help you get to know the people at BAB.
                            The key to any successful venture is working with talented people whose company
                            you enjoy.
                        </p>
                    </div>
                    <div class="col">
                        <img src="images/develop-img.png">
                        <p>
                            So bring your friends, and meet some new people who will inspire you to develop
                            practical skills for the future.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="clearfix"></div>

        <footer>
            <p>&copy 2015 Bruin App Builders</p>
        </footer>
    </body>
</html>