<div id="members">

	<h1>Share generously.</h1>
	<h5>No one accomplishes great things alone.</h5>
	<p>There's no such thing as networking. We believe in bringing value into other people's lives: which is why we created igrouply.com, a database of people in BAB listing their skills and wants. This will make it easier to find mentors, meet people, and teach others.</p>
    <section>
    	<div class="container">
            <h3>
                <a target="_blank" href="http://www.igrouply.com" >Discover your network.</a>
            </h3>
        </div>
		<h3>
    	</h3>
    </section>

</div>