<div id="members">

	<h1>Share generously.</h1>
	<h6>No one accomplishes great things alone.</h6>

	<p>Meet interesting people.  Learn from others.  Discover your network.</p>

	<a target="_blank" href="http://www.igrouply.com">Get Started</a>
</div>